* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.page-body {
  font-family: 'OpenSans';
  height: 100%;
  font-weight: 400;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h2 {
  font-weight: 400;
}
p {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
  padding: 0;
}

button,
input {
  -webkit-tap-highlight-color: transparent;
}

.page-main {
  max-width: 1200px;
  margin: 0 auto;
}
