$tablet-width: 651px;
$desktop-width: 1185px;
$photo-catalog-tablet-width: 650px;
$photo-catalog-desktop-width: 1200px;

$white: #fff;
$dark-grey: #283645;
$basic-pink: #d22856;
$dark-grey-2: #1d2631;
$basic-grey: #f2f2f2;
$text-color: #283645;
$input-grey: #e5e5e5;
$submit-button-green: #2aab6d;
